
//colors


//font colors
$white: #ffff;
$blue: #2CB5E9;


// css consts
$global_width: 40%;
$laptop_width: 85%;

$font_middle: 22px;
$font_middle_xl: 18px;

$font_large: 40px;
$font_large_xl: 30px;