$dark: #fff;
$light: #efefef;
$color: #b3e5fc;

@mixin btn($scale) {
  position: relative;
  width: $scale;
  height: $scale;
  transition-duration: 0.5s;
}

@mixin icon($height, $width) {
  transition-duration: 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  top: 20px;
  background-color: $dark;
}

@mixin icon-before($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $dark;
  content: "";
  top: $top;
}

@mixin icon-after($height, $width, $top) {
  transition-duration: 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: $dark;
  content: "";
  top: $top;
}

.btn1{
  @include btn(40px);
  @media screen and (max-width: 600px) {
    transform: scale(0.8);
  }
  
  .icon-left {
    @include icon(4px, 20px);
    left: 0px; 
    border-radius: 5px 0 0 5px;
    
    &:before{
      @include icon-before(4px, 20px, -10px);
      border-radius: 5px 0 0 5px;
    }
    
    &:after{
      @include icon-after(4px, 20px, 10px);
      border-radius: 5px 0 0 5px;
    }
    
    &:hover{
      cursor: pointer;
    }
  }
  
  .icon-right {
    @include icon(4px, 20px);
    left: 20px;
    border-radius: 0 5px 5px 0;
    
    &:before{
      @include icon-before(4px, 20px, -10px);
      border-radius: 0 5px 5px 0;
    }
    
    &:after{
      @include icon-after(4px, 20px, 10px);
      border-radius: 0 5px 5px 0;
    }
  }
  
  &.open {
    .icon-left {
      transition-duration: 0.5s;
      background: transparent;
      
      &:before{
        transform: rotateZ(45deg) scaleX(0.9) translate(6px, 0px);
      }

      &:after{
        transform: rotateZ(-45deg) scaleX(0.9) translate(6px, 0px);
      }
    }
    
    .icon-right {
      transition-duration: 0.5s;
      background: transparent;  
      
      &:before{
        transform: rotateZ(-45deg) scaleX(0.9) translate(-6px, 0px);
      }

      &:after{
        transform: rotateZ(45deg) scaleX(0.9) translate(-6px, 0px);
      }
    }
  }
  &:hover {
    cursor: pointer;
  }
}